@reference 'tailwindcss';

.expanding-textarea {
    @apply relative grid w-full px-0.5;
}

.expanding-textarea::after {
    @apply whitespace-pre-wrap invisible break-all max-w-full;
    content: attr(data-replicated-value) ' ';
}

.expanding-textarea > textarea {
    @apply resize-none overflow-hidden outline-none focus:ring-0;
}

.expanding-textarea::after,
.expanding-textarea > textarea {
    grid-area: 1 / 1 / 2 / 2;
    font: inherit;
}
